p {
	font-family: Sans-serif;
	font-size: 20px;
}

p:hover {
	cursor: pointer;
}

#canvas {
	margin: auto;
	display: block;
}

.menu {
	position: absolute;
	left: 50%;
	transform: translate(-75%, -400px);
}

#score {
	position: absolute;
	left: 400px;
	top: 20px;
}

.login{
   position:absolute;
   top:4px;
   right:150px;
}

.create {
    position:absolute;
    top:4px;
    right:4px;
}
