p {
	font-family: Sans-serif;
	font-size: 20px;
}

p:hover {
	cursor: pointer;
}

#canvas, img {
	margin: auto;
	display: block;
	image-rendering: pixelated;
}

.menu {
	position: absolute;
	left: 50%;
	transform: translate(-75%, -400px);
}

#score {
	position: absolute;
	left: 15%;
	top: 54px;
}

#wins {
	position: absolute;
	left: 15%;
	top: 29px;
}

#hs {
	position: absolute;
	left: 15%;
	top: 4px;
}

#username {
	position: absolute;
	left: 50%;
	top: 4px;
}

.login{
   position:absolute;
   top:4px;
   right:150px;
}

.logout{
   position:absolute;
   top:4px;
   right:4px;
}

.create {
    position:absolute;
    top:4px;
    right:4px;
}


